@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@theme {
  --color-primary: #f44336;
  --color-primary-900: #310d0b;
  --color-primary-800: #7a221b;
  --color-primary-700: #ab2f26;
  --color-primary-600: #d0392e;
  --color-primary-500: #f8857c;
  --color-primary-400: #faaaaa;
  --color-primary-300: #fcd0cd;
  --color-primary-200: #fde3e1;
  --color-primary-100: #fef5f5;

  --color-dark-900: #0a0a0a;
  --color-dark-800: #282828;
  --color-dark-700: #474747;
  --color-dark-600: #787878;
  --color-dark-500: #9d9d9d;
  --color-dark-400: #c2c2c2;
  --color-dark-300: #cecece;
  --color-dark-200: #e6e6e6;
  --color-dark-100: #f5f5f5;
  --color-dark-50: #f9f9f9;
  --color-dark-white: #ffffff;

  --color-notification-info: #0ba5ec;
  --color-notification-success: #12b76a;
  --color-notification-warn: #fdb022;
  --color-notification-alert: #f79009;
  --color-notification-error: #d92d20;
}

@import 'tailwindcss';

@layer utilities {
  .h1 {
    @apply font-bold text-[54px] leading-[120%] tracking-[-1.5px] font-[Montserrat,sans-serif];
  }
  .h2 {
    @apply font-bold text-[45px] leading-[130%] tracking-[0px];
  }
  .h3 {
    @apply font-bold text-[36px] leading-[130%] tracking-[-0.5px];
  }
  .h4 {
    @apply font-bold text-[30px] leading-[130%];
  }
  .h5 {
    @apply font-semibold text-[24px] leading-[140%] tracking-[-0.2px];
  }
  .h5-rg {
    @apply font-normal text-[24px] leading-[140%] tracking-[-0.3px];
  }
  .h6 {
    @apply font-semibold text-[20px] leading-[140%] tracking-[-0.3px];
  }
  .h6-md {
    @apply font-medium text-[20px] leading-[140%] tracking-[-0.3px];
  }
  .h6-rg {
    @apply font-normal text-[20px] leading-[140%] tracking-[-0.3px];
  }
  .body-1 {
    @apply font-semibold text-[18px] leading-[140%];
  }
  .body-1-md {
    @apply font-medium text-[18px] leading-[140%];
  }
  .body-1-rg {
    @apply font-normal text-[18px] leading-[140%];
  }
  .body-2 {
    @apply font-semibold text-[16px] leading-[150%];
  }
  .body-2-md {
    @apply font-medium text-[16px] leading-[150%];
  }
  .body-2-rg {
    @apply font-normal text-[16px] leading-[150%];
  }
  .small-1 {
    @apply font-semibold text-[14px] leading-[150%];
  }
  .small-1-md {
    @apply font-medium text-[14px] leading-[150%];
  }
  .small-1-rg {
    @apply font-normal text-[14px] leading-[150%];
  }
  .small-2 {
    @apply font-semibold text-[12px] leading-[150%] tracking-[0.2px];
  }
  .small-2-md {
    @apply font-medium text-[12px] leading-[150%];
  }
  .small-2-rg {
    @apply font-semibold text-[12px] leading-[150%];
  }
  .small-3 {
    @apply font-semibold text-[10px] leading-[150%] tracking-[0.2px];
  }
  .small-3-md {
    @apply font-medium text-[10px] leading-[150%] tracking-[0.5px];
  }
  .small-3-rg {
    @apply font-normal text-[10px] leading-[150%] tracking-[0.5px];
  }
  .caption {
    @apply font-semibold text-[18px] leading-[150%] tracking-[0.2px];
  }
}
